body,p,h3,ul,li,dl,dd,dt,a{
    margin: 0;
    padding: 0;
}
body{
    background: violet;
}
$fontSize:12px;
$headColor:#999999;
.header{
    background: #f2f2f2;
    height: 26px;
    width: 100%;
    font-size: $fontSize;
    .midHeader{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        line-height: 26px;
    }
    .headerLeft{
        color: $headColor;
        float: left;
        width: 220px;    
        overflow: hidden; 
        p{
            float: left;
            margin-right: 14px;
        }  
        a{
            color: $headColor;
            text-decoration: none;
        }
        a:hover{
            color: #cc0000;
            text-decoration: underline;
        }
    }
    .headerRight{
        float: right;
        color: $headColor;
        ul li{
            list-style: none;
            float: left;
            padding: 0 5px;
            a{
                color: $headColor;
                text-decoration: none;
            }
        }
        ul{
            .headeList{
                position: relative;
                i{
                    font-size: 8px;
                }
                ul li{
                      
                    float: none;
                    background: white;    
                    padding: 0 5px;               
                }
            }
        }
    }
}
